<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web-server | index</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/dynamics.css">
</head>
<body>
    <div class="main-content">
        <div>{{>header}}</div>
        <div id="data-wrapper" class="data-wrapper"></div>
    </div> 
    {{>footer}}
    <script src="./js/utils/listpipelines.js"></script>
</body>
</html>