body {
    color: #333;
    font-family: arial;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

header a {
    color: #888888;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    padding: 8px;
}